body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#auth-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-width: 500px;
}

#side-image{
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100vh;
    opacity: 0.8;
    filter: saturate(1.2);
}

.extra-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.extra-options a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
}

.extra-options a:hover {
    color: #9747FF;
    text-decoration: none;
    font-size: 1em;
}

.logo {
    flex-direction: column;
}

.auth-containter form{
    height: 100%;
}