/* Starts in style.css */
.logo {
    flex: 1;
    justify-content: flex-start;
}

/* Starts in style.css */
.page-heading {
    padding-top: 130px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.similar-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.sp-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.sp-content .product-card {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 300px;
    max-height: 800px;
    padding: 10px;
    border-radius: 20px;
    /* background: linear-gradient(#c7f0ee46, #c7f0ee83); */
    background: linear-gradient(233.99deg, #c9fff81f, #c7f0ee);
    box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.1);
    user-select: none;
    cursor: pointer;
}

.sp-content .product-card>img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sp-content .product-card .name {
    height: 30px;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 300;
}

.sp-content .product-card .description {
    height: 30px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 0.9em;
    font-weight: 300;
}


.sp-content .price-wishlist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0 0 0;
    font-weight: 600;
}

.price-wishlist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}


.product-info{
    display: flex;
    flex: 0.7;
    flex-direction: column;
    padding: 20px;
    margin: 0px 10px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 60%;
    background: linear-gradient(233.99deg, #c9fff81f, #c7f0ee);
    box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.1);
}

.product-info .product-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 500px;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    
}

.product-info .product-card img {
    height: 100%;
    border-radius: 50px;
}

.product-info .name {
    font-size: 1.3em;
    font-weight: 500;
}

.product-info .description > * {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.product-info .price {
    font-size: 1.5em;
    font-weight: 600;
}

.cart button {
    padding: 10px 0;
    border: none;
    width: 120px;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.cart .add-to-cart {
    background-image: none;
    background-color: #2e2e2e;
}

.cart button * {
    padding: 0;
    max-width: 0;
}

.cart .total-price, .item-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.product-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cart {
    flex: 0.3;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 21px;
    background: linear-gradient(200deg, #c9fff881, #f1bcfc6e);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cart .actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .cart-contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid #a1a1a19c;
    margin: 20px 0 0 0;
    color: #a696c4;
}

.cart .total-price{
    width: 100px;
}

.cart .item-counter{
    width: 20px;
}

.cart .remove-item{
    width: 50px;
    background-image: none;
}

.cart .remove-from-cart{
    width: 50px;
    background-image: none;
    background-color: #2e2e2e;
}

.cart .checkout{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.cart .selected-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    background: linear-gradient(-200deg, #c9fff881, #f1bcfc6e);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #4e4e4e;
}

.cart .selected-item img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.cart .selected-item .name-and-price{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.cart .selected-item .name-and-price div{
    margin: 3px;
}

.cart .remove-item-cross{
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
}

.cart .remove-item-cross:hover{
    border: 1px solid #000000;
    border-radius: 60%;
}


.cart .cart-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 0 0;
}

.cart .checkout{
    flex: 0.7;
    margin: 0 5px 0 0;
}

.cart .empty-cart {
    flex: 0.3;
    margin: 0 0 0 5px;
    padding: 10px 0;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background-image: none;
    background-color: #2e2e2e;
    color: white;
}
